.Hero-container{
    display:flex;
    justify-content:space-between;
}
.left-h{
    flex:3;
    padding:2rem;
    padding-top:1.5rem;
    display:flex;
    gap: 2rem;
    flex-direction:column;
}
.right-h{
    flex:1;
    position:relative;
    background-color:var(--orange);
}
.best-fit{
    margin-top:4rem;
    background-color:#363d42;
    border-radius:4rem;
    width:fit-content;
    padding:20px 13px;
    position:relative;
    text-transform:uppercase;
    color:white;
    display:flex;
    align-items: center;
    justify-content:flex-start;
}
.best-fit>span{
    z-index:2;
}
.best-fit>div{
    position:absolute;
    background-color:var(--orange);
    border-radius:3rem;
    width: 5.4rem;
    height: 80%;
    left:8px;
    z-index:1;
}
.texty{
    display:flex;
    flex-direction:column;
    gap:1.5rem;
    text-transform:uppercase;
    font-size:4rem;
    font-weight:bold;
    color: white;
    text-overflow:inherit;
}
.hero-text>div:nth-of-type(3){
    font-size:1rem;
    font-weight:normal;
    text-transform:none;
    letter-spacing:1px;
    width:90%;
}
.figures{
    display:flex;
    gap: 2rem;
}

.figures>div{
    display:flex;
    flex-direction:column;
}
.figures>div>span:nth-of-type(1){
    color:white;
    font-size:2rem;
}
.figures>div>span:nth-of-type(2){
    color:var(--gray);
}
.hero-btn{
    display:flex;
    gap: 1rem;
    font-weight:normal;
    
}
.hero-btn>:nth-child(1){
    color:white;
    background-color:var(--orange);
    border-radius:2rem;
    width:8rem;
}
.hero-btn>:nth-child(2){
    color:white;
    background-color:transparent;
    width:8rem;
    border-radius:2rem;
    border:2px solid var(--orange);
}
.right-h>.btn{
    position:absolute;
    right: 3rem;
    top: 2rem;
    color:var(--orange);
    border-radius:2rem;
}
.heart-rate{
    background-color:var(--darkGrey);
    display:flex;
    flex-direction:column;
    gap:1rem;
    width:fit-content;
    padding: 1rem;
    border-radius:5px;
    position:absolute;
    top: 7rem;
    right: 4rem;
}
.heart-rate>img{
    width:2rem;
}
.heart-rate>span:nth-of-type(1){
    color:var(--gray);
}
.heart-rate>span:nth-of-type(2){
    color:white;
    font-size:1.5rem;

}
.hero-img{
    position:absolute;
    top: 10rem;
    right: 8rem;
    width:23rem;
}
.hero-back{
    position:absolute;
    top:4rem;
    right:20rem;
    z-index:-1;
    width:15rem;
}
.calories{
    display:flex;
    gap: 2rem;
    background-color:var(--caloryCard);
    border-radius: 5px;
    padding: 1rem;
    width:fit-content;
    position:absolute;
    top:32rem;
    right:28rem;
}
.calories>img{
    width:3rem;
}
.calories>div{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.calories>div>:nth-child(1){
    color:var(--gray);
}
.calories>div>:nth-child(2){
    color:white;
    font-size:1.5rem;
}