.header{
    display:flex;
    justify-content:space-between;
}
.header>img{
    width:10rem;
    height:3rem;
}
.header-menu{
    list-style:none;
    display:flex;
    gap: 2rem;
    color:white;
}
.header-menu>li:hover{
    color:var(--orange);
    cursor:pointer;
}
@media screen and (max-width:768px){
    .header{
        flex-direction:column;
        overflow-x:hidden;
    }
    .header{
        align-items:center;
    }
}