.footer{
    height:25rem;
}
.icons{
    display:flex;
    gap:4rem;
    justify-content:center;
    align-items:center;
    margin-top:5rem;
}
.icons>img{
    width:2rem;
}
.logo{
    display:flex;
    justify-content: center;
    margin-top: 4rem;
    align-items:center;
}
.logo>img{
    width:10rem;
}
.blur-f{
    background:red;
    margin-top:10rem;
    right:15%;
    width:26rem;
    height:12rem;
    filter:blur(200px);
}
.blur-f1{
    background:var(--orange);
    margin-top:10rem;
    width:26rem;
    height:12rem;
    left:15%;   
}
@media screen and (max-width:'768px') {
    .footer{
        overflow-x:hidden;
    }
}