.reasons{
    padding:2rem;
    display:flex;
    gap: 2rem;
    margin-top:-4rem;
}
.images{
    grid-gap: 1rem;
    display: grid;
    flex: 1 1;
    gap: 1rem;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(3,1fr);
}
.images > img{
    object-fit:cover;
}
.images>:nth-child(1){
    width:12rem; 
    height: 28rem;
    grid-column:1;
    grid-row:1/3;
}
.images>:nth-child(2){
    width:auto;
    height: 16rem;
    grid-column:2/4;
    grid-row:1;
}
.images>:nth-child(3){
    width: 14rem;
    grid-column:2/3;
    grid-row: 2;
}
.images>:nth-child(4){
    width: 10rem;
    grid-row: 2;
    grid-column:3/4;
}
.right{
    flex:1 1;
}
.right>:nth-child(1){
    font-size:1rem;
    font-family:Arial, Helvetica, sans-serif;
    color:var(--orange);
    font-weight:bold;
}
.new-div{
    margin-top: 1rem;
    font-family:Arial, Helvetica, sans-serif;
    font-size:3.5rem;
    text-transform:uppercase;
}
.matter{
    display:flex;
    flex-direction:column;
    gap:1rem;
    margin-top:1rem ;
}
.text1{
    font-size:1rem;
}
.matter>div{
    display:flex;
    gap:1rem;
    align-items:center;
}
.matter>div>img{
    width:2rem;
    height: 2rem;
}
@media screen and (max-width:768px){
.reasons{
    flex-direction:column;
    overflow-x:hidden;
}
.images{
    grid-auto-rows:column;
    overflow:hidden;
}
.images>:nth-child(1){
    width: 7rem;
    height: 17rem;
}
.images>:nth-child(2){
    width: 15rem;
    height:10rem;
}
.images>:nth-child(3){
    width: 7rem;
}
.images>:nth-child(4){
    width: 7rem;
    height: 6rem;
}

}